
<div class='login-background'>
        <div class="imgcontainer">
        <img src="/content/images/logo.png" alt="logo">
    </div>
   <div class='login'>
      
        <div class="login-inputs">
            <div>
                <input type="text" v-model='username'  placeholder="Username" required>
            </div>
            <div>
                <input type="password" v-model='password'  placeholder="Password"  required>
            </div>
            <div>
                <button type="submit" class="loginbutton" @click='login' >Login</button>
            </div>
        </div>
      
   </div>
    
</div>


